<div class="footer">
  <div class="footer-principal">
    <div class="footer-principal__container">
      <div>
        <img 
          src="../../../assets/images/Logo_footer.svg" 
          alt="Logo da Marca"
          class="footer-principal__image"
          [routerLink]="['/adote']"
        >
      </div>
      <div class="footer-principal__informacoes">
        <p class="bold">Quatro Patas Adoção de Animais</p>
        <p>Rua das Oliveiras, 158 | Nova Floresta - São Paulo, SP 133999-008</p>
        <p>(021)9921-8282 ou (019)9923-5050</p>
      </div>
    </div>
  </div>
  <div class="footer-secundario">
    <div class="footer-secundario__container">
      <p>Copyright 2022. Todos os direitos.</p>
      <p class="bold">Violência contra animais é crime. Denuncie 0800 600 6428</p>
    </div>
  </div>
</div>