<div class="regras">
  <div class="regras__container">
    <div>
      <img class="regras__imagem" src="../../../assets/images/RulesDog.svg" alt="Mulher tirando foto com cachorro">
    </div>
    <div class="regras__textos">
      <div class="regras__titulo">
        <h3>Nossas Regras</h3>
      </div>
      <div class="regras__frases">
        <p>Sem sombra de dúvidas queremos <span class="bold">o melhor </span>
        para os nossos peludinhos, portanto queremos esclarecer quais são os
        requisitos para você ter um novo membro na família:
        </p>
        <div class="regras__container-topicos">
          <div class="regras__topicos">
            <img src="../../../assets/images/DogHand.svg" alt="Patinha de cachorro">
            <p>Carinho e atenção não pode faltar;</p>
          </div>
          <div class="regras__topicos">
            <img src="../../../assets/images/DogHand.svg" alt="Patinha de cachorro">
            <p>Cuide de pulgas, carrapatos, entre outros parasitas;</p>
          </div>
          <div class="regras__topicos">
            <img src="../../../assets/images/DogHand.svg" alt="Patinha de cachorro">
            <p>Leve ao veterinário regularmente;</p>
          </div>
          <div class="regras__topicos">
            <img src="../../../assets/images/DogHand.svg" alt="Patinha de cachorro">
            <p>Mantenha as vacinas em dia, é importante para ele(a) e para você;</p>
          </div>
          <div class="regras__topicos">
            <img src="../../../assets/images/DogHand.svg" alt="Patinha de cachorro">
            <p>A castração é importante para previnir doenças e a procriação;</p>
          </div>
        </div>
        <p class="regras__margem-texto">Todo animal merece respeito <3</p>
      </div>
    </div>
  </div>
</div>
<div class="background"></div>