@import url(../../../styles.scss);
@import '../../../assets/mixins';

.adote {
  width: 100%;
  background: #F1F1F1;
  margin: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    @include for-phone-only {
      flex-direction: column;
      align-items: center;
    }
  }

  &__titulo {
    @include for-phone-only {
      width: 330px;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__textos {
    padding-left: 130px;
    @include for-phone-only {
      padding: 0;
    }
  }

  &__frases {
    font-size: 26px;
    margin-top: 50px;
    @include for-phone-only {
      width: 330px;
      font-size: 18px;
      line-height: 24px;
      text-align: start;
      margin: 50px auto 0 auto;
    }
  }

  &__imagem {
    position: relative;
    top: 50px;
    @include for-phone-only {
      position: static;
      margin-top: 40px;
      max-width: 310px;
    }
  }
}

.cards {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include for-phone-only {
    position: static;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    transform: none;
  }
  
  &__centralizar {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }
}